html {
    height: 100%; /* so we can set 100% height on divs */
}

body {
    width: 1920px;
    height: 1080px;

}

#ag-root {
    overflow   : scroll;
    min-width: 1280px;
    min-height: 720px;
    height: 100%;
}

.ag-panel {
    position: relative;
    float: left;
    padding: 5px;
    width: 50%;
    height: 50%;
}

.chart {
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top:0;
    padding-left:0;
}

