<div class="input-group" style="width:50%;">
    <div class="input-group-btn">
        <div class="btn-group">
            <button id="attr" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Attr <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="filter-attr" href="#">Max</a></li>
                <li><a class="filter-attr" href="#">Min</a></li>
                <li><a class="filter-attr" href="#">Avg</a></li>
                <li><a class="filter-attr" href="#">Med</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button id="opt" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Opt <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="filter-opt" href="#">Larger Than</a></li>
                <li><a class="filter-opt" href="#">Less Than</a></li>
                <li><a class="filter-opt" href="#">Equal</a></li>
            </ul>
        </div>
    </div>
    <input type="text" class="form-control" aria-label="...">
    <span class="input-group-btn">
        <button id="search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <button id="reset" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </span>
</div>